@import './normalize.css';
@import './base.css';

/* Setiings  */
html {
  font-size: 1px;
  background-color: var(--eme-background);

  /* open-sans */
  font-family: 'Open Sans', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-weight: 16rem;
}

/* global config styles */
.container-app {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title-app {
  font-size: 18rem;
}

.item-app {
  font-size: 16rem;
  list-style: none;
}

.box-shadow {
  box-shadow: #0000003d 0px 3px 8px;
}

/* Grid config */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.6fr);
}
