@import url("00.fonts.css");

h1 {
  font-size: 36px;
  line-height: 43px;
}
.text-center {
  text-align: center;
  /* color: white; */
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  width: 475px;
  margin-top: 130px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 50%;
  /* border: 1px solid gainsboro; */
}

.bg-gray {
  /* background-color: #323225; */
  background-color: transparent;
  backdrop-filter: blur(10px);
}
