@import url("00.fonts.css");

h1 {
  font-size: 36px;
  line-height: 43px;
}

P {
  font-size: 16px;
  line-height: 24px;
}
.text-center {
  text-align: center;
  /* color: white; */
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  width: 475px;
  /* background-color: blue;
  border: 1px solid black; */
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  height: 80px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  /* position: fixed; */
  top: 0;
  z-index: 2;
  width: 40%;

  /* border: 1px solid gainsboro; */
}

/* theme  */
.eme-dark {
  transition: background-color 0.5s ease;
  /* background-color: #1a202c; */
  background-color: rgb(32, 32, 35);
  color: white;
  /* color: rgb(240, 231, 219); */
}

.eme-light {
  transition: background-color 1s ease;
  background-color: rgb(240, 231, 219);
  /* color: #1a202c; */
  color: black;
}

.eme-nav-light {
  transition: background-color 1s ease;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.eme-nav-dark {
  transition: background-color 1s ease;
  backdrop-filter: blur(10px);
}

/* eme */

.content {
  padding: 1px;
  border-radius: 10px;
  /* background-color: rgb(255, 255, 255, 0.45); */
  /* 0.45 */
}

.eme-content-dark {
  transition: background-color 1s ease;
  background-color: rgb(255, 255, 255, 0.05);
}

.eme-content-light {
  transition: background-color 1s ease;
  background-color: rgb(255, 255, 255, 0.25);
}

/* <a href="https://www.flaticon.es/iconos-gratis/oscuro" title="oscuro iconos">Oscuro iconos creados por meaicon - Flaticon</a> */
